body {
    background: #ECECEC;
    margin: auto;
    padding: 20px 20px 20px 20px;
    text-align: center;  
    color:purple;
  }

button{
    color: purple;
    background-color: white;
    border-radius:0.5em;
    Font-Weight: bold;
}
