body {
background-image:url("https://images.unsplash.com/photo-1506669318200-6790d9b4c014?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MzZ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
}
#title {
position:relative;
top:0px;
left:0px;
padding:10px;
margin:0px;
width:100%;
background-color:#dfc5de;
text-align:center;
z-index:10;
font-family: 'MrsBeasleyRegular';
font-weight: bold;;
font-style: normal;
font-size:36px;
color: White;
}

img {
margin-left: auto;
margin-right: auto ;
width: 60%;
}

#container {
margin-top:20%;
margin-left:15%;
margin-right:10%;
margin-bottom:20%;
}

.row{
position:relative;
margin-left:10%;
margin-right:10%;
}

.white{
border: 1px solid black;
width: 10%;
height: 60px;;
background-color:white;
float:left;
text-align:center;
}

.black{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:#787878;
float:left;
text-align:center;
}

.clear{
clear:both;
}
 

#footer {
padding:10px;
margin:0px;
width:100%;
background-color:#dfc5de;
text-align:center;
z-index:10;
font-family:'MrsBeasleyRegular';
font-weight: bold;;
font-style: normal;
font-size:20px;
color: White;}
