body {
background-image:url("https://upload.wikimedia.org/wikipedia/commons/a/ac/Pink_sky.jpg");
}
#title {
position:top;
top:0px;
left:0px;
padding:10px;
margin:0px;
width:100%;
background-color:dfc5de;
text-align:center;
z-index:10;
font-family: 'RoundStyleBookOblique';
font-weight: normal;
font-style: normal;
font-size:36px;
color: White;
}

img {
align: center;
}

#container {
margin-top:20%;
margin-left:10%;
margin-right:10%;
margin-bottom:20%;
}

.row{
position:relative;
margin-left:10%;
margin-right:10%;
}

.white{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:white;
float:left;
}

.black{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:#787878;
float:left;
}

#clear{
clear:both;
}

 

#footer {
position:bottom;
top:0px;
left:0px;
padding:10px;
margin:0px;
width:100%;
background-color:dfc5de;
text-align:center;
z-index:10;
font-family: 'RoundStyleBookOblique';
font-weight: normal;
font-style: normal;
font-size:20px;
color: White;}
