body {
	width: 90%;
	margin: 0 auto;
        background-image: url("https://myao3.github.io/mland/OIf0lp.jpg");
       	background-size:100%;
        font-family: Arial, Verdana, sans-serif;
       	Color:white;
	text-align: center;
     }

#header{
        font-family: 'SztyletBold';
        font-weight: bold;
        font-style: normal;
	font-size: 200%;
        }
	   
#nav {
        margin: 1%;
        background-color: #B6AB9F;
	padding: 0.5em 0;
        font-family: Verdana;
        font-weight: bold;
      }

#content {
	overflow: auto;
	 }
          
#footer {
	margin: 1%;
        background-color:#B6AB9F;
	padding: 0.5em 0;
        color: #686159;
	}

li {
	display: inline;
	padding: 0.5em;
}

.column1, .column2, .column3, .column4, .column5,.column6, .column7, .column8, .column9 {
        width: 18%;
	float: left;
	margin: 1%; 
        color: white;              
        font-family: 'SztyletBold';
        font-weight: bold;
        font-style: normal;
	font-size: 80%
}

img {
        width: 100%;
  
}
.column1{
        Background-color:#F2CD87;   
        }

.column2{
        Background-color:#A9A9A9;
        }

.column3 {
        Background-color:#E8A465;
        }
.column4 {
        Background-color:#AEA295;          
        }
.column5 {
	Background-color:#9B656F;
        }
         
.column6{
        Background-color:#E8A465;  
        }

.column7{
        Background-color:#9B656F;
        }

.column8 {
        Background-color:#AEA295;  
        }
.column9 {
        Background-color:#A9A9A9;       
        }

a { color: purple; } 
